<md-sidenav md-is-locked-open="true" style="max-width: 200px;">
    <md-list ui-sref="dashboard.widget"  ui-sref-active="active">
            <md-list-item ng-click="console.log('asdfasdf')">
                    <i class="material-icons">home</i>
                    <p>&nbsp;Dashboard</p>
            </md-list-item>
    </md-list>
    <md-list ui-sref="dashboard.calendar"  ui-sref-active="active">
        <md-list-item ng-click="console.log('asdfasdf')">
            <i class="material-icons">date_range</i>
            <p>&nbsp;Calendar</p>
        </md-list-item>
    </md-list>
    <md-list ui-sref="dashboard.settings"  ui-sref-active="active">
        <md-list-item ng-click="console.log('asdfasdf')">
            <i class="material-icons">settings_applications</i>
            <p>&nbsp;Settings</p>
        </md-list-item>
    </md-list>
    <md-list ui-sref="login"  ui-sref-active="active">
        <md-list-item ng-click="console.log('asdfasdf')">
            <i class="material-icons">exit_to_app</i>
            <p>&nbsp;Logout</p>
        </md-list-item>
    </md-list>
</md-sidenav>
